.card-text-container {
    margin: 6px;
    color: rgb(255, 255, 255);
}

.card-list {
    margin-left: -31px;
}

.card-text-container .card-text {
    padding: 15px;
}

.card-text-container > li {
    background-color:#44c6fae8;  
    margin: 0px;
    padding: 2px;
}